@media (max-width: 480px) {
    .container {
        padding: 10px;
        border-radius: 8px;
    }
    .introduction {
        flex-direction: column-reverse;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .left, .right {
        padding: 10px;
        text-align: center;
    }
    .right img {
        width: 100%;
        max-width: 120px;
        border-radius: 12px;
    }
    #text {
        font-size: 16px;
    }
    h1, .section h1 {
        font-size: 18px;
    }
    .cen {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    p, ul li, .last {
        font-size: 14px;
    }
    button {
        font-size: 12px;
        padding: 5px 8px;
    }
    .section {
        padding: 10px;
        border-radius: 6px;
    }
}
